.layout {
    overflow-y: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: var(--max-width);
    width: 100%;
    padding: 0 2rem;

    display: inherit;
    align-items: center;
}

.header {
    padding-top: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--second-text-hex);

    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        color: #ffffff;
    }
}

.mobile_header {
    visibility: hidden;

    width: 100%;
    justify-content: center;
    color: var(--second-text-hex);

    padding: 0.7rem 0;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    z-index: 1;
    display: flex;
    position: fixed;
    background-color: var(--color_track);
    bottom: 0;

    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        color: #ffffff;
        height: 38px;
    }

    button {
        border: 0 solid transparent;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
    }

    path {
        stroke:var(--second-text-hex);
    }

    .open_nav {
        span {
            color: var(--second-text-hex);
            font-size: 16px;
            font-weight: 600;
            margin-left: 0.5rem;
        }
    }

}

.navRows {
    & > * {
        display: flex;
        flex-direction: row;

        & > * {
            margin-left: 30px;
        }
    }
}

.buttonsRows {
    margin-left: 30px;
    & > * {
        margin-left: 10px;
    }
}

.footer {
    width: 100%;
    background-color: var(--footer-hex);
    display: flex;
    justify-content: center;
    padding: 5rem 0;

    font-size: 16px;
    font-weight: 500;
    color: var(--second-text-hex);

    flex-grow: 1;
    .content {
        flex-direction: column;

        .footer_above {
            width: inherit;
            justify-content: space-between;
            margin-bottom: 20px;
            display: inherit;
            flex-direction: row;

            .source_code {
                color: var(--links-hex);
            }
            
            & > * {

                &:not(.footer_links){
                    max-width: 170px;
                }
                & > * {
                    margin-bottom: 15px;
                }
            }
            .footer_links {
                position: relative;
                display: flex;
                flex-direction: row;

                .footer_row {
                    position: relative;
                    margin: 1rem 3rem;
                    justify-content: end;
                    width: 150px;
                    & > * {
                        margin-bottom: 15px;
                    }
                }
            }


            .footer_label {
                color: #ffffff;
                font-weight: 600;
            }

        }

        .footer_below {
            text-align: center;
        }
    }
    
    .footer_row {
        display: flex;
        flex-direction: column;
    }

}

.children {
    position: relative;
    padding: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    .content {
        flex-direction: column;
    }
}


@media only screen and (max-width: 1140px) {
    .header {
        .buttonsRows {
            :last-child {
                display: none;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .header {
            position: fixed;
            visibility: hidden;
        }

        .mobile_header {
            visibility: visible;
        }
    }


    .content {
        padding: 0 2rem;
    }

    .footer  {
        .content {
            .footer_above {
                flex-direction: column;
                align-items: center;
                text-align: center;
                

                .footer_links {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }


    }


}

