.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        font-size: 64px;
        font-weight: 600;
    }

    h1 {
        font-size: 96px;
        font-weight: 600;
    }

    p {
        color: var(--second-text-hex);
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    span > * {
        background: var(--label-text-gradient-moz);
        background: var(--label-text-gradient-webkit);
        background: var(--label-text-gradient);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .animatetedLabel > * > *{
        background: var(--second-label-text-gradient-moz);
        background: var(--second-label-text-gradient-webkit);
        background: var(--second-label-text-gradient);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    

    .content {
        max-width: 650px;
    }

    button {
        margin-right: 16px;
    }

    .mainPattern {
        // mask-image: linear-gradient(black, transparent);
        // mask-repeat: no-repeat;
        // mask-size: 50%;
        svg {
            position: absolute;
            top: 4rem;
            left: 0;
            z-index: -1;
        }
    }
}


.line_layout {
    width: 104vw;
    padding: 7rem 0;
    .line {
        width: 100%;
        height: 230px;
        background-image: linear-gradient(300deg, #ffffff00, #ffffff0f);
        backdrop-filter: blur(20px);
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
        transform: rotate(-1.5deg);

        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            max-width: var(--max-width);
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;

            h1 {
                font-size: 64px;
            }

            p {
                font-size: 32px;
            }
        }
    }
}


.categories_layout {
    text-align: center;
    margin-bottom: 4rem;
    p {
        font-size: 40px;
        font-weight: 600;
    }

    h1 {
        font-size: 64px;
        font-weight: 600;

        background: var(--second-label-text-gradient-moz);
        background: var(--second-label-text-gradient-webkit);
        background: var(--second-label-text-gradient);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.players_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .label {
        background: var(--label-hex);
        color: var(--label-text-hex);
        border-radius: var( --border-radius);

        width: 250px;
        height: 70px;

        font-size: 24px;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 4rem;
    }

    .label_info {
        max-width: 850px;
        font-size: 24px;
        font-weight: 500;

        text-align: center;

        h1 {
            font-size: 24px; 
        }
        p {
            color: var(--second-text-hex);
        }
    }

    .content {
        width: 100%;
        .block {
            margin: 8rem 0;
            display: flex;
            flex-direction: row;

            justify-content: space-between;
            align-items: center;

            // .preview {
            //     width: 500px;
            //     height: 560px;
            //     border-radius: var(--border-radius);
            //     border: 1px solid #ffffff;

            //     background: var(--block-gradient);
            //     backdrop-filter: blur(20px);
            // }

            .preview {
                width: 500px;
                height: 560px;

                .search_content {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    .selectLayout {
                        width: 40%;
                        p {
                            font-size: 16px;
                            font-weight: 500;
                            margin: 0.5rem 0;
                        }
                    }
                }

                .follow_content {
                    display: flex;
                    flex-direction: column;

                    .follow_label {
                        display: flex;

                        svg {
                            position: relative;
                        }

                        & > * {
                            margin-right: 1rem;
                        }
                    }

                    & > * {
                        margin-bottom: 1rem;
                    }
                }

                .support_content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .chat_message_left {
                        display: flex;
                        justify-content: start;
                    }

                    .chat_message_right {
                        display: flex;
                        justify-content: end;
                    }

                    & > * {
                        margin: 1rem 0;
                    }
                }
            }
            


            .info {
                max-width: 470px;
            }

            h1 {
                font-size: 64px;
            }

            p {
                font-size: 24px;
                color: var(--second-text-hex);
            }
        }
    }
}