.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        font-size: 64px;
        font-weight: 600;
    }

    h1 {
        font-size: 96px;
        font-weight: 600;
    }

    p {
        color: var(--second-text-hex);
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    span > * {
        background: var(--label-text-gradient-moz);
        background: var(--label-text-gradient-webkit);
        background: var(--label-text-gradient);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .animatetedLabel > * > * {
        background: var(--second-label-text-gradient-moz);
        background: var(--second-label-text-gradient-webkit);
        background: var(--second-label-text-gradient);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .animatetedLabel {
        margin-bottom: 1rem;
    }
    

    .content {
        max-width: 650px;
    }

    button {
        margin-right: 16px;
        margin-bottom: 1rem;
    }

    .mainPattern {
        position: absolute;
        width: 100%;
        left: 0;
        top: 14rem;
        z-index: -1;
        opacity: 0.5;
        
        // svg {
        //     top: 4rem;
        //     z-index: -1;
        //     background-repeat: repeat;
        // }
    }
}


.line_layout {
    width: 104vw;
    padding: 7rem 0;
    .line {
        padding: 0 4rem;
        width: 100%;
        height: 230px;
        background-image: linear-gradient(300deg, #ffffff00, #ffffff0f);
        backdrop-filter: blur(20px);
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
        transform: rotate(-1.5deg);

        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            max-width: var(--max-width);
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;

            h1 {
                font-size: 64px;
            }

            p {
                font-size: 32px;
            }
        }
    }
}


.categories_layout {
    text-align: center;
    margin-bottom: 4rem;
    p {
        font-size: 40px;
        font-weight: 600;
    }

    h1 {
        font-size: 64px;
        font-weight: 600;

        background: var(--second-label-text-gradient-moz);
        background: var(--second-label-text-gradient-webkit);
        background: var(--second-label-text-gradient);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.label {
    background: var(--label-hex);
    color: var(--label-text-hex);
    border-radius: var( --border-radius);

    width: 250px;
    height: 70px;

    font-size: 24px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 4rem;
}

.label_info {
    
    max-width: 850px;
    font-size: 24px;
    font-weight: 500;
    // height: 500px;

    text-align: center;

    h1 {
        font-size: 24px; 
    }
    p {
        color: var(--second-text-hex);
    }

    // margin-bottom: 4rem;
}

.players_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .content {
        width: 100%;
        .block {
            margin: 8rem 0;
            display: flex;
            flex-direction: row;

            justify-content: space-between;
            align-items: center;

            // .preview {
            //     width: 500px;
            //     height: 560px;
            //     border-radius: var(--border-radius);
            //     border: 1px solid #ffffff;

            //     background: var(--block-gradient);
            //     backdrop-filter: blur(20px);
            // }

            .preview {
                width: 500px;
                height: 560px;

                .search_content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .selectLayout {
                        // width: 40%;
                        p {
                            font-size: 16px;
                            font-weight: 500;
                            margin: 0.5rem 0;
                        }
                    }
                }

                .follow_content {
                    display: flex;
                    flex-direction: column;

                    .follow_label {
                        display: flex;

                        svg {
                            position: relative;
                        }

                        & > * {
                            margin-right: 1rem;
                        }
                    }

                    & > * {
                        margin-bottom: 1rem;
                    }
                }

                .support_content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .chat_message_left {
                        display: flex;
                        justify-content: flex-start;
                    }

                    .chat_message_right {
                        display: flex;
                        justify-content: flex-end;
                    }

                    & > * {
                        margin: 1rem 0;
                    }
                }
            }
            


            .info {
                max-width: 470px;
            }

            h1 {
                font-size: 64px;
            }

            p {
                font-size: 24px;
                color: var(--second-text-hex);
            }
        }
    }
}

.creators_section {
    padding: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    // padding-top: 4rem;


    .creators_background {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        // top: 0;
        z-index: -1;
        background: var(--secondBackground-gradient);
    }
    .content {
        padding: 0rem;
        width: 100%;
        // width: var(--max-width);
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .creators_cards {
            max-width: var(--max-width);
            margin: 4rem 0;

            width: 100%;
            display: flex;
            flex-wrap: wrap;

            justify-content: space-around;
            .creators_card {
                width: 500px;
                height: 180px;

                display: flex;
                flex-direction: column;
                position: relative;
                
                // margin-left: 2rem;
                margin-bottom: calc(50px + 4rem);

                .card_label {
                    width: 100%;
                    height: 100%;
                    padding: 1rem 1rem 1rem 4rem;
                    h1 {
                        font-size: 32px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 24px;
                        font-weight: 500;
                        color: var(--second-text-hex);
                    }
                }

                .card_icon {
                    width: 100px;
                    height: 100px;

                    position: absolute;
                    display: flex;
                    align-items: flex-end;

                    transform: translate(-50%, 130%);
                    .icon {
                        width: 100%;
                        height: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

.slogan_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    position: relative;

    .logo {
        height: 600px;
        z-index: -2;
    }

    .slogan_label {
        position: absolute;
        text-align: center;
        width: 800px;
        height: 650px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-items: flex-end;
        h2 {
            font-size: 96px;
            font-weight: 600;
        }
    
        h1 {
            font-size: 128px;
            font-weight: 600;
    
            background: var(--second-label-text-gradient-moz);
            background: var(--second-label-text-gradient-webkit);
            background: var(--second-label-text-gradient);
    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    
    .slogan_button {
        margin-top: 5rem;
    }

    .slogan_background {
        width: 100vw;
        height: 105%;
        position: absolute;
        z-index: -1;
        background: var(--background-black-transperent-gradinet);
    }
}

@media only screen and (max-width: 1140px) {
    .players_section {
        .content {
            .block { 
                .info {
                    margin-left: 2rem;
                    // text-align: center;
                    h1 {
                        font-size: 46px; 
                        margin-bottom: 1rem;
                     }
                     p{
                         // font-size: 20px;
                         margin-bottom: 2rem;
                     }
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        .main {        
            h2 {
                font-size: 64px;
            }
        
            h1 {
                font-size: 72px;
            }

            p {
                font-size: 20px;
            }

            .content {
                max-width: 480px;
            }
        
        }

        .slogan_section {
            .slogan_label {
                h2 {
                    font-size: 64px;
                }
                h1 {
                    font-size: 72px;
                }
            }
 
        }

        .line_layout {
            .line {
                .content {

                    h1 {
                        font-size: 46px;
                    }
                    p {
                        font-size: 24px;
                    }
                }
            }
        }

        .players_section {
            .content {
                .block { 
                    flex-direction: column-reverse;


                    &:nth-child(2n) {
                        flex-direction: column;
                    }

                    .info {
                        margin-left: 0rem;
                        text-align: center;
                        h1 {
                           font-size: 46px; 
                           margin-bottom: 1rem;
                        }
                        p{
                            // font-size: 20px;
                            margin-bottom: 2rem;
                        }
                    }

                    .preview {
                        min-width: 300px;
                        max-width: 500px;
                        width: 100%;

                        .SelectComponent {
                            width: 100%;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 750px) {
            .main {        
                h2 {
                    font-size: 46px;
                }
            
                h1 {
                    font-size: 64px;
                }
    
                .content {
                    max-width: 420px;
                }
            
            }

            .slogan_section {
                .slogan_label {
                    h2 {
                        font-size: 46px;
                    }
                    h1 {
                        font-size: 64px;
                    }
                }
     
            }

            .line_layout {
                .line {
                    height: 400px;
                    .content {
                        flex-direction: column;
            
                        h1 {
                        }
            
                        p {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }

        .creators_section {
            .content {
                .creators_cards {

                    .creators_card {
                        height: auto;
                        align-items: center;
                        .card_label {
                            padding: 4rem 2rem 2rem 2rem;
                          
                            text-align: center;
                        }
        
                        .card_icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 576px) {
            .main {   
                flex-direction: column-reverse;
                display: flex;
                align-items: center;
                
                // justify-content: space-between;

                text-align: center; 
                .animatetedLabel > * > * {
                    justify-content: center;
                }

                h2 {
                    font-size: 38px;
                }
            
                h1 {
                    font-size: 50px;
                }
    
                .content {
                    max-width: 100%;
                }

                .logo {

                    width: 200px;
                    height: 200px;
                }
                
                @media only screen and (max-width: 400px) {
                    button {
                        margin-right: 0;
                    }
                }
            }
        }
    }

}

