$outlineButton-gradient-start: #9574CA;
$outlineButton-gradient-stop: #5A3D89;


:export {
    outlineButton_gradient_start: $outlineButton-gradient-start;
    outlineButton_gradient_stop: $outlineButton-gradient-stop;
  }