.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    text-align: center;
}

.container h1 {
    margin-bottom: 1rem;
}

.container a {
    color: var(--darkLightButton-text-hex);
}

.container img {
    margin-bottom: 1rem;
}