.addon_block {
    width: 100%;
    display: flex;
    justify-content: row;
    color: var(--second-text-hex);
    // margin-right: 1rem;

    .left_side {
        & > * {
            margin-bottom: 0.5rem;
        }
        width: 300px;
        .content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;
            // align-items: center;
        }

    }

    .right_side {
        & > * {
            margin-bottom: 0.5rem;
        }

        width: 100%;
        margin-left: 0.5rem;
        .search_panel {
            display: flex;

            .search_panel_layout{
                display: flex;
                justify-content: center;
            }
        }

        .addon_content {

        }
    }
    
}

.navRows {
    & > * {
        display: flex;
        flex-direction: row;

        & > *:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.search_result {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    .result {

                & > * {
                    max-width: 465px;
                }
                width: 100%;
                
                display: flex;
                // justify-content: center;
                gap: 10px;
                // flex-wrap: wrap;
                flex-wrap: wrap;
                // width: 50%;
                // height: 300px;


        .Icon {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                position: relative;
            }
        }

        .result_block {
            cursor: pointer;
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: space-between;
            overflow: hidden;
            position: relative;
            border-radius: 25px;
            padding: 1.5rem;
            .background {
                z-index: -1;
                width: 100%;
                height: 200px;
                position: absolute;
                left: 0;
                top: -85px;
            }

            .name {
                a {
                    cursor: pointer;
                }
                // transform: translateY(20px);
                margin-top: 3rem;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                img {
                    border-radius: 20px;
                    border: 2px solid white;
                    margin-right: 0.5rem;
                }

                p {
                    color: var(--second-text-hex)
                }

                margin-bottom: 0.5rem
            }

            .info {
                font-size: 16px;
                .settings {
                    margin-top: 0.5rem;
                    display: flex;
                    flex-direction: row;

                    & > * {
                        margin-right: 0.5rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }

                    & > *:not(:first-child) {
                        color: var(--third-text-hex)
                    }


                }

                color: var(--second-text-hex);

                margin-bottom: 1rem;

            }

            .stat {
                display: flex;
                flex-direction: row;

                justify-content: space-between;

                .left {
                    display: flex;
                    flex-direction: row;

                    & > * {
                        margin-right: 1rem;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .right {
                    color: var(--third-text-hex);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

                color: var(--second-text-hex)
            }
        }
    }
}