.search {
    position: relative;
    height: 100%;
    width: 100%;

    input {
        height: 100%;
        width: 100%;
        background: transparent;
        border: 0;
        outline: 0;

        font-size: 16px;
        font-weight: 500;

        padding-left: 3rem;

        color: var(--foreground-hex);

        &::placeholder {
            opacity: 0;
        }

        &:focus ~ label, &:not(:placeholder-shown) ~ label {
            opacity: 0;
        }
    }

    label {
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        height: 100%;

        top: 0;
        left: 0;
        margin: 0 3rem;
        font-size: 16px;
        font-weight: 400;
        
        color: var(--second-text-hex);

        transition: 0.2s;  
    }

    svg {
        position: absolute;
        margin: 1rem 1rem;
        opacity: 0.6;
    }
}

.multiSelect {
    position: relative;
    // min-height: 55px;
    min-width: 40%;
    width: 100%;
    display: flex;

    .dropButton {
        width: 60px;
        height: 100%;

        position: absolute;
        border: 0 solid transparent;
        background: transparent;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        top: 0;
        right: 0;
        cursor: pointer;

        svg {
            position: relative;
            transition: 0.2s ease-in-out;
        }

        .activeDrop {
            svg {
                transform: rotate(180deg);
            }

        }

        .inctiveDrop {
            svg {
                transform: rotate(360deg);
            }
        }

        .activeDrop, .inctiveDrop {
            display: flex;
            justify-content: flex-end;
            margin: 0 1rem;
        }
    }

    .dropButtonEmpty {
        width: 100%;
    }

    label {
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        height: 100%;
        user-select: none;

        top: 0;
        left: 0;

        font-size: 16px;
        font-weight: 400;
        color: var(--second-text-hex);

        margin-left: 1rem;

        transition: 0.1s;
    }
    .availableOptions {
        z-index: 3;
        position: absolute;
        // margin-top: 0.25rem;
        top: 100%;
        width: 100%;
        select[multiple] {
            appearance: menulist;
            position: relative;
            // padding: 1rem;
            width: 100%;
            overflow: hidden;
            background: transparent;
            border: 0 solid transparent;
            border-radius: var(--border-radius);
            outline: none;

            &:focus option:checked {
                background: var(--label-hex) linear-gradient(0deg, var(--label-hex) 0%, var(--label-hex) 100%);
            }
            
            option {
                width: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 1.25rem 1rem;
                font-size: 16px; 
                font-weight: 400;
                color: var(--foreground-hex);
                user-select: none;

                &:hover {
                    background: #ffffff13;

                }
            
            }


        }
    }

    
    .selectedOptions {
        display: flex;
        width: 80%;
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            position: relative;

            li {
                cursor: pointer;
                display: flex;
                align-items: center;
                border: 1px solid #71717150;
                border-radius: 25px;
                margin: 0 0.25rem;
                margin-bottom: 0.5rem;
                padding: 0.2rem 0.5rem;
                user-select: none;
            }
        }

        button {
            margin-left: 5px;
            position: relative;
            width: 16px;
            height: 16px;

            cursor: pointer;
            outline: none;
            background-color: transparent;
            border: 1px solid #71717150;
            border-radius: 25px;

            svg {
                path {
                    fill: #c8c6c650;
                }
            }
        }
    }
}

.Select {
    
    position: relative;
    // min-height: 55px;
    min-width: 40%;
    width: 100%;
    display: flex;

    .dropButton {
        width: 100%;
        height: 100%;

        position: absolute;
        border: 0 solid transparent;
        background: transparent;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        top: 0;
        right: 0;
        cursor: pointer;

        svg {
            position: relative;
            transition: 0.2s ease-in-out;
        }

        .activeDrop {
            svg {
                transform: rotate(180deg);
            }

        }

        .inctiveDrop {
            svg {
                transform: rotate(360deg);
            }
        }

        .activeDrop, .inctiveDrop {
            display: flex;
            justify-content: flex-end;
            margin: 0 1rem;
        }
    }

    label {
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
        height: 100%;
        user-select: none;

        top: 0;
        left: 0;

        font-size: 16px;
        font-weight: 400;
        color: var(--second-text-hex);

        margin-left: 1rem;

        transition: 0.1s;
    }
    .availableOptions {
        z-index: 3;
        position: absolute;
        // margin-top: 0.25rem;
        top: 100%;
        width: 100%;
        select[multiple] {
            appearance: menulist;
            position: relative;
            // padding: 1rem;
            width: 100%;
            overflow: hidden;
            background: transparent;
            border: 0 solid transparent;
            border-radius: var(--border-radius);
            outline: none;

            &:focus option:checked {
                background: var(--label-hex) linear-gradient(0deg, var(--label-hex) 0%, var(--label-hex) 100%);
            }
            
            option {
                // overflow: hidden;
                // text-overflow: ellipsis;
                width: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 1.25rem 1rem;
                font-size: 16px; 
                font-weight: 400;
                color: var(--foreground-hex);
                user-select: none;

                &:hover {
                    background: #ffffff13;

                }
            
            }


        }
    }

    
    .selectedOption {
        // padding: 1rem;
        // white-space: no;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // overflow: hidden;
        // text-overflow: ellipsis;
        user-select: none;
        display: flex;
        align-items: center;
        width: 70%;
        height: 100%;
    }
}

// .checkBox {
//     display: flex;
//     align-items: center;

//     .input {
//         appearance: none;
//         width: 20px;
//         height: 20px;
//         background: var(--label-hex);
//         border-radius: 50%;
//         // border: 2px solid purple;
//         cursor: pointer;
//         margin-right: 10px;
//       }
      
//       .input:checked {
//         background: var(--label-text-hex);
//         // border: 2px solid purple;
//       }
      
//       .label {
//         cursor: pointer;
//         user-select: none;
//         font-size: 16px;
//         color: var(--second-text-hex)
//       }
// }


.checkBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .input {
        appearance: none;
        width: 20px;
        height: 20px;
        background: var(--label-hex);
        border-radius: 50%;
        // border: 2px solid purple;
        cursor: pointer;
        // margin-right: 10px;
        position: relative;
        transition: background 0.3s ease-in-out;
      }
      
      .input:checked {
        background: var(--label-text-hex);
      }
      
      .input:checked::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        top: 4px;
        left: 7px;
        transform: rotate(0);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      
      .input:checked::after {
        transform: rotate(45deg);
        opacity: 1;
      }
      
      .label {
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
        font-size: 16px;
        color: var(--second-text-hex)
      }
}
