.layout {
    font-size: 16px;
    font-weight: 600;
    color: #bbbbbb;
    list-style-type: none;

    .children {
        transition: transform 100ms;
        &:active {
            transform: scale(0.92);

        };
    }

}

